@model List<MyRequestsModels>
@using Domain.Common.Const
@using Domain.Common.Enums
@using UI.Areas.Executive.Pages
@using static UI.Areas.Admin.Pages.ManageRequestsModel
@{
    var ttext = string.Empty;
    var statusName = string.Empty;
    int inc = 1;
}

<tbody>
    @foreach (var items in Model)
    {
        var isUpcomingEvent = DateTimeOffset.UtcNow < items.EventDate;
        var successFoodPRequest = "bg-error";
        var successAddOnRequest = "bg-error";
        var successAttendeeRequest = "bg-error";
        var approvedTicket = string.Empty;
        var approvedParkingPasses = string.Empty;
        if (items.ApproveTicket != 0)
        {
            approvedTicket = $"({items.ApproveTicket})";
            approvedParkingPasses = $"({items.ApproveParking})";
        }

        ttext = items.Status switch
        {
            nameof(StatusType.Pending) => "text-warning",
            nameof(StatusType.Rejected) => "text-danger",
            nameof(StatusType.Approved) => "text-success",
            _ => ""
        };

        statusName = items.Status switch
        {
            nameof(StatusType.Pending) => nameof(StatusType.Pending),
            nameof(StatusType.Rejected) => nameof(StatusType.Rejected),
            nameof(StatusType.Approved) => nameof(StatusType.Approved),
            _ => ""
        };

        var getApprovedHandler = Url.PageLink(PageNames.DashboardAdmin, "AdminDashboardPartial", new
        {
            area = WebAreas.Administration,
            requestId = items.RequestId,
            eventId = items.EventId,
            action = "Approved"
        });

        var getRejectHandler = Url.PageLink(PageNames.DashboardAdmin, "AdminDashboardPartial", new
        {
            area = WebAreas.Administration,
            requestId = items.RequestId,
            eventId = items.EventId,
            action = "Reject"
        });

        var viewEventHandler = Url.PageLink(PageNames.EventRequest, "EditRequestByIdPartial", new
        {
            area = WebAreas.Executive,
            requestId = items.RequestId,
            action = "View"
        });


        var fillCateringEventHandler = Url.PageLink(PageNames.EventRequest, "EditRequestByIdPartial", new
        {
            area = WebAreas.Executive,
            requestId = items.RequestId,
            action = "Catering"
        });

        var fillGuestEventHandler = Url.PageLink(PageNames.EventRequest, "EditRequestByIdPartial", new
        {
            area = WebAreas.Executive,
            requestId = items.RequestId,
            action = "Guest"
        });


        var fillEventHandler = Url.PageLink(PageNames.EventRequest, "EditRequestByIdPartial", new
        {
            area = WebAreas.Executive,
            requestId = items.RequestId,
            action = "Fill"
        });

        var MailAttendeeRequestHandler = Url.PageLink(PageNames.AttendeeDetails, "MailAttendeePartial", new
        {
            area = WebAreas.Executive,
            Id = items.RequestId,
            IsConference = false
        });

        var ExportRequestHandler = Url.PageLink(PageNames.EventRequest, "ExportPartial", new
        {
            area = WebAreas.Executive,
            requestId = items.RequestId,
        });

        var ExportExcelRequestHandler = Url.PageLink(PageNames.EventRequest, "ExportRequestToExcel", new
        {
            area = WebAreas.Executive,
            requestId = items.RequestId,
        });


        var sroApproveValue = (items.SROTickets!.Value) ? items.ApproveSROTicket != 0 ? $"({items.ApproveSROTicket})" : "" : (items.Status == nameof(StatusType.Approved) && items.AppliedSROTickets != 0) ? $"({items.ApproveSROTicket})" : "N/A";
        var sroAppliedValue = items.SROTickets!.Value ? $"{items.AppliedTickets}" : string.Empty;

        <tr>
            <td class="text-center">@(inc++)</td>
            <td>@items.EventName</td>
            <td>@items.ExecutiveName</td>
            <td class="text-center">@items.AppliedTickets <span style="color: green;">@approvedTicket</span> </td>
            <td class="text-center">@items.AppliedParkingPasses <span style="color: green;">@approvedParkingPasses</span></td>
            <td class="text-center">
                @sroAppliedValue <span style="color:@(sroApproveValue == "N/A" ? "red" : "green");"> @sroApproveValue </span>
            </td>
            <td class="text-center">
                <div class="d-flex" style="justify-content: center;">
                    <h6 class="mb-0 d-flex align-items-center @ttext">
                        <i class="ri-circle-fill ri-10px me-1"></i>@statusName
                    </h6>
                    @if (items.Status == nameof(StatusType.Approved))
                    {

                        <div class="d-flex align-items-center mx-4">
                            @if (!string.IsNullOrEmpty(items.PackageSelected))
                                successFoodPRequest = "bg-success";

                            <div class="avatar avatar-sm me-2" style="cursor: default;">
                                <span class="avatar-initial rounded-circle @successFoodPRequest" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Food Package"> <i class="ri-restaurant-2-fill"></i></span>
                            </div>

                            @if (!string.IsNullOrEmpty(items.AddOnSelected))
                                successAddOnRequest = "bg-success";

                            <div class="avatar avatar-sm me-2" style="cursor: default;">
                                <span class="avatar-initial rounded-circle @successAddOnRequest" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Add-Ons Selection"><i class="ri-apps-2-add-fill"></i></span>
                            </div>

                            @if (items.Attendees.Any())
                                successAttendeeRequest = "bg-success";

                            <div class="avatar avatar-sm me-2" style="cursor: default;">
                                <span class="avatar-initial rounded-circle @successAttendeeRequest" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Attendee Details"><i class="ri-user-add-fill"></i></span>
                            </div>
                        </div>
                    }
                </div>
            </td>
            <td class="text-center">
                <div>
                    <button class="btn btn-sm btn-icon btn-text-secondary waves-effect waves-light rounded-pill dropdown-toggle hide-arrow show" data-bs-toggle="dropdown" aria-expanded="true">
                        <i class="ri-more-2-line ri-20px"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end m-0" style="position: absolute; inset: auto 0px 0px auto; margin: 0px; transform: translate3d(-69.6px, -227.2px, 0px);" data-popper-placement="top-end">

                        <a href="javascript:void(0);" title="View Request" data-action="@viewEventHandler" data-bs-dismiss="modal" class="dropdown-item jsViewEventRequest btn-card-block-spinner">View</a>

                        @if (isUpcomingEvent)
                        {
                            if (items.IsAdmin && @items.Status == nameof(StatusType.Approved))
                            {
                                if (!items.IsAdmin)
                                {
                                    <button title="Catering Data" data-action="@fillCateringEventHandler" data-bs-dismiss="modal" class="dropdown-item jsFillCateringEventRequest btn-card-block-spinner">Edit Catering Data</button>
                                }
                                <button title="Guest Data" data-action="@fillGuestEventHandler" data-bs-dismiss="modal" class="dropdown-item jsFillGuestEventRequest btn-card-block-spinner">Edit Guest List</button>

                                if (items.Attendees?.Count() > 0 || items.AddOnSelected != null || items.PackageSelected != null)
                                {
                                    if (items.Attendees?.Count() > 0)
                                    {
                                        <a href="javascript:void(0);" title="Send Notification" data-action="@MailAttendeeRequestHandler" data-bs-dismiss="modal" class="dropdown-item jsMailEventRequest btn-card-block-spinner">Send Notification</a>
                                    }

                                }
                            }

                            if (@items.Status == nameof(StatusType.Pending))
                            {
                                if (isUpcomingEvent)
                                {
                                    <a href="javascript:void(0);" title="Approve Request" data-action="@getApprovedHandler" data-bs-dismiss="modal" class="dropdown-item jsApproveRequest">Approve</a>
                                    <a href="javascript:void(0);" title="Reject Request" data-action="@getRejectHandler" data-bs-dismiss="modal" class="dropdown-item jsRejectRequest">Reject</a>
                                }
                            }
                        }

                        @if (items.Attendees?.Count() > 0 || items.AddOnSelected != null || items.PackageSelected != null)
                        {
                            <a href="javascript:void(0);" title="Print/Download PDF" data-action="@ExportRequestHandler" data-bs-dismiss="modal" class="dropdown-item jsExportEventRequest">Print/Download</a>
                            <a href="javascript:void(0);" data-action="@ExportExcelRequestHandler" data-bs-dismiss="modal" class="dropdown-item jsExportExcel">Download Excel</a>
                        }
                    </div>
                </div>
            </td>
        </tr>
    }
</tbody>
